:root {
    --cor-de-fundo-noturno: #121212;
    --cor-de-texto-noturno: #E0E0E0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-de-fundo-noturno);
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 50vw;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

form {
    line-height: 20px;
    width: 100%;
}

form > input {
    width: calc(100% - 18px);
    padding: 3px;
}

form > input#enviar {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    padding: 5px 0px;
    transition: 0.1s;
}

form > input#enviar:hover {
    background-color: var(--cor-de-fundo-noturno);
    color: var(--cor-de-texto-noturno);
    transition: 0.1s;
    
}

.error-text {
    font-size: 12px;
    color: red;
}