<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section class="container">
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi maxime sed velit commodi voluptates omnis ut unde veniam eaque pariatur neque molestias accusamus eveniet, amet veritatis? Odio quae eum saepe.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A voluptas laborum animi illum repudiandae maxime explicabo. Quod necessitatibus ipsa nisi voluptates reiciendis! Error nihil unde sed deserunt repudiandae enim corrupti!</p>
        <form action="" method="post">
            <label for="cliente">Label teste #1</label> <br>
            <input type="text" id="cliente" name="cliente"> <br>
            <input type="submit" value="Enviar">
        </form>
    </section>

    <script src="assets/js/bundle.js"></script>
</body>
</html>